/*====Header====*/

.site-header-about-us{
    background: linear-gradient(to right, #F7EFF5 0%, #739EC9 100%);
}

/*====Hero====*/

.hero-about-us {
  position: relative;
  height: 52vh;       
  min-height: 320px;
  max-height: 520px;
  overflow: hidden;
}

.hero-about-us img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hero-about-us::before {
  content: "";
  position: absolute;
  inset: 0;
  background:rgba(0, 0, 0, 0.65);
  z-index: 1;
}

.hero-text {
  position: inherit;
  bottom: 89%;
  left: 50%;
  transform: translateX(-50%);
  text-align: left;
  color: #fff;
  z-index: 2;
  padding: 2rem 1rem;
}

.hero-text h2 {
  margin: 0;
  font-size: clamp(1.4rem, 4.5vw, 2.4rem);
  font-weight: 700;
  letter-spacing: 9%;
}

.hero-text p {
  margin: .5rem 0 0;
  font-size: clamp(0.95rem, 3.5vw, 1.25rem);
  font-weight: 500;
  opacity: .95;
  font-weight: 300;
}

/*Hero - tablet*/

@media(min-width:768px) {
    .hero-text h2{
        font-size: smaller;
    }
}

@media(min-width:768px) {
    .hero-text p{
        font-size: small;
    }
}

/*======Start you Adventure=======*/

.start-your-adventure {
  background-color: #BC9EE2; 
  padding: 2rem;
  text-align: center;
  border-radius: 10px;
  max-width: 600px;
  margin: 2rem 2rem;
}

.start-your-adventure h4 {
  color: #fff;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  font-weight: normal;
}

.start-your-adventure .button {
  display: inline-block;
  background-color: #6634A7;
  color: white;
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.start-your-adventure .button:hover {
  background-color: #3d2870;
}
